<div class="modal fade" id="modal-center-lg" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center bg-primary rounded-top py-2">
                <h5 class="modal-title" id="modal-center-lg-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body" id="modal-center-lg-body"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-center-md" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center bg-primary rounded-top py-2">
                <h5 class="modal-title" id="modal-center-md-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body" id="modal-center-md-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-center-sm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center bg-primary rounded-top py-2">
                <h5 class="modal-title" id="modal-center-sm-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body" id="modal-center-sm-body"></div>
        </div>
    </div>
</div>