################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea/.idea.BarnamenevisanCompany/.idea
/.vs/BarnamenevisanCompany/FileContentIndex
/BarnamenevisanCompany.Application/obj
/BarnamenevisanCompany.Domain/obj
/BarnamenevisanCompany.Infra.Data/obj
/BarnamenevisanCompany.Infra.IOC/obj
/BarnamenevisanCompany.Web/obj
/.vs/BarnamenevisanCompany
/BarnamenevisanCompany.Application/bin/Debug/net9.0
/BarnamenevisanCompany.Domain/bin/Debug/net9.0
/BarnamenevisanCompany.Infra.Data/bin/Debug/net9.0
/BarnamenevisanCompany.Infra.Data/Migrations
/BarnamenevisanCompany.Infra.IOC/bin/Debug/net9.0
/BarnamenevisanCompany.Web/bin/Debug/net9.0
/BarnamenevisanCompany.Web/Logs
/BarnamenevisanCompany.Web/wwwroot/Content/*
/.vs/ProjectEvaluation
/BarnamenevisanCompany.Web/wwwroot/Site/assets/css/styles.css
/BarnamenevisanCompany.Web/wwwroot/KeyDirectory


!BarnamenevisanCompany.Web/wwwroot/Content/AboutUs/default.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/Users/Originals/default.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/Users/Originals/site-default.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/PartnerCompany/Originals/default.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/Company/Originals/default.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/OrderTypes/Originals/default.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/OrderTypes/Originals/OrderType-Desktop.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/OrderTypes/Originals/OrderType-Mobile.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/OrderTypes/Originals/OrderType-Web.jpg
!BarnamenevisanCompany.Web/wwwroot/Content/SiteSettings/default-jobListImage.jpg
/BarnamenevisanCompany.Web/wwwroot/Content/Orders/Files
/.idea
/BarnamenevisanCompany.sln.DotSettings.user
/.idea/config/applicationhost.config
/BarnamenevisanCompany.Web/wwwroot/Common/images
/BarnamenevisanCompany.Application/bin/Release/net9.0/BarnamenevisanCompany.Application.deps.json
/BarnamenevisanCompany.Application/bin/Release/net9.0/BarnamenevisanCompany.Application.dll
/BarnamenevisanCompany.Application/bin/Release/net9.0/BarnamenevisanCompany.Application.pdb
/BarnamenevisanCompany.Application/bin/Release/net9.0/BarnamenevisanCompany.Domain.dll
/BarnamenevisanCompany.Application/bin/Release/net9.0/BarnamenevisanCompany.Domain.pdb
/BarnamenevisanCompany.Application/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.dll
/BarnamenevisanCompany.Application/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.pdb
/BarnamenevisanCompany.Domain/bin/Release/net9.0/BarnamenevisanCompany.Domain.deps.json
/BarnamenevisanCompany.Domain/bin/Release/net9.0/BarnamenevisanCompany.Domain.dll
/BarnamenevisanCompany.Domain/bin/Release/net9.0/BarnamenevisanCompany.Domain.pdb
/BarnamenevisanCompany.Infra.Data/bin/Release/net9.0/BarnamenevisanCompany.Domain.dll
/BarnamenevisanCompany.Infra.Data/bin/Release/net9.0/BarnamenevisanCompany.Domain.pdb
/BarnamenevisanCompany.Infra.Data/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.deps.json
/BarnamenevisanCompany.Infra.Data/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.dll
/BarnamenevisanCompany.Infra.Data/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.pdb
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Application.dll
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Application.pdb
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Domain.dll
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Domain.pdb
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.dll
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.pdb
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Infra.IOC.deps.json
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Infra.IOC.dll
/BarnamenevisanCompany.Infra.IOC/bin/Release/net9.0/BarnamenevisanCompany.Infra.IOC.pdb
/BarnamenevisanCompany.Web/bin/Release/net9.0/runtimes/win/lib/net9.0
/BarnamenevisanCompany.Web/bin/Release/net9.0/appsettings.json
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Application.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Application.pdb
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Domain.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Domain.pdb
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Infra.Data.pdb
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Infra.IOC.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Infra.IOC.pdb
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Web.deps.json
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Web.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Web.exe
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Web.pdb
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Web.staticwebassets.endpoints.json
/BarnamenevisanCompany.Web/bin/Release/net9.0/BarnamenevisanCompany.Web.staticwebassets.runtime.json
/BarnamenevisanCompany.Web/bin/Release/net9.0/BouncyCastle.Cryptography.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/EasyCaching.Core.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/EasyCaching.InMemory.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/EPPlus.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/EPPlus.Interfaces.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.barcodes.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.bouncy-castle-connector.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.commons.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.forms.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.io.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.kernel.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.layout.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.pdfa.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.pdfua.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.sign.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.styledxmlparser.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/itext.svg.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/MailKit.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.EntityFrameworkCore.Design.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.EntityFrameworkCore.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Caching.Memory.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Configuration.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Configuration.Json.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.DependencyInjection.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.DependencyModel.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.FileProviders.Physical.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.FileSystemGlobbing.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Logging.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Options.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Microsoft.Extensions.Primitives.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/MimeKit.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/package-lock.json
/BarnamenevisanCompany.Web/bin/Release/net9.0/package.json
/BarnamenevisanCompany.Web/bin/Release/net9.0/Quartz.AspNetCore.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Quartz.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Quartz.Extensions.DependencyInjection.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/Quartz.Extensions.Hosting.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/SixLabors.ImageSharp.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/System.Formats.Asn1.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/System.Security.Cryptography.Pkcs.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/System.Security.Cryptography.Xml.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/System.Text.Encoding.CodePages.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/System.Text.Json.dll
/BarnamenevisanCompany.Web/bin/Release/net9.0/tusdotnet.dll
/BarnamenevisanCompany.Web/Properties/PublishProfiles/FolderProfile.pubxml
/BarnamenevisanCompany.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
/BarnamenevisanCompany.Web/BarnamenevisanCompany.Web.csproj.user
