@model BarnamenevisanCompany.Domain.ViewModels.Client.JobUserMapping.ClientCreateJobUserMappingViewModel

<div>
    <form asp-area=""
          asp-controller="JobUserMapping"
          asp-action="Create"
          asp-ajax="true"
          asp-ajax-method="Post"
          asp-ajax-close-modal-onSuccess="Current"
          asp-ajax-upload="true"
          asp-ajax-success="onAjaxSuccess(data, status, xhr);"
          enctype="multipart/form-data">
        <input type="hidden" asp-for="JobId"/>

        <div class="grid grid-cols-12 max-md:gap-y-5 md:gap-x-12 md:gap-8">
            <div class="col-span-full">
                <label asp-for="Description"
                       class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                <textarea asp-for="Description" rows="10" placeholder="توضیحات خود را وارد کنید ..."
                          class="block w-full text-sm rounded border border-borderColour dark:border-borderColour-dark py-2.5 px-5 text-paragraph-light placeholder:text-paragraph-light outline-none resize-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all"></textarea>
                <validation-span asp-validation-for="Description"/>
            </div>
            <div class="col-span-full">
                <label asp-for="Attachment" class="block text-sm font-medium text-paragraph dark:text-white mb-2">
                </label>
                <div class="relative flex items-center justify-center w-full text-sm rounded border border-borderColour dark:border-borderColour-dark px-5 text-paragraph-light 
                placeholder:text-paragraph-light outline-none 
                resize-none
                bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all py-5" ImageButton="1">
                <input asp-for="Attachment" type="file" accept=".zip,.rar" class="absolute w-full h-full opacity-0 cursor-pointer" ImageInput="1"/>
                <div class="flex flex-col items-center">
                    <svg class="w-8 h-8 mb-1 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                    </svg>
                    <p ImageName="1" class="mt-2 text-sm text-gray-500 dark:text-gray-400"> فایل مورد نظر را انتخاب کنید ...</p>
                </div>
            </div>
            <validation-span asp-validation-for="Attachment"/>
        </div>

            <div class="mx-auto col-span-full text-center">
                <button class="btn" type="submit">ثبت</button>
            </div>
        </div>
    </form>
</div>
