@using BarnamenevisanCompany.Application.Extensions
@using BarnamenevisanCompany.Web.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BarnamenevisanCompany.Domain.ViewModels.Client.User.ClientChangePasswordViewModel

@{
    var activeCodeExpireTime = ViewData["ActiveCodeExpireTime"] as string;
}

<div class="col-span-full">
    <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav">
        <div class="border border-dashed rounded-medium border-gray-100 dark:border-borderColour-dark p-6 h-full">
            <form asp-area="UserPanel"
                  asp-controller="User"
                  asp-action="ChangePassword"
                  asp-ajax="true"
                  asp-ajax-method="Post"
                  asp-ajax-success="onAjaxSuccessChangePassword(data, status, xhr);successChangePassword(element);">
                <div class="grid grid-cols-12">
                    <div class="col-span-full mb-10">
                        <h3>تغییر رمز عبور</h3>
                    </div>
                    <div class="col-span-full grid grid-cols-12 gap-5">
                        <div class="col-span-full md:col-span-4">
                            <label class="block text-sm font-medium text-paragraph dark:text-white mb-2">کد
                                تایید</label>
                            <div class="flex">
                                <a asp-area="UserPanel"
                                   asp-controller="User"
                                   asp-action="SendOtpCode"
                                   asp-route-userId="@Model.UserId"
                                   asp-ajax="true"
                                   asp-ajax-success="successResendOtpForChangePassword(data, status, xhr);" 
                                   type="button"
                                   id="resend-otp-code"
                                   class="flex items-center justify-center py-2.5 px-2 w-16 text-nowrap bg-sky-600 text-white rounded-s-lg text-sm">ارسال
                                    کد</a>
                                <span dir="rtl" class="d-flex justify-center align-items-center w-16 hidden px-2 py-2.5 bg-sky-600 text-white font-semibold rounded-s-lg text-sm text-nowrap" id="otp-countdown" enddate="@activeCodeExpireTime"></span>
                                <input asp-for="Code" placeholder="کد را وارد کنید ..." class="block w-full text-sm rounded-e-lg border border-borderColour 
                                dark:border-borderColour-dark py-2.5 px-5 placeholder:text-paragraph-light dark:placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all"/>
                            </div>
                            <validation-span asp-validation-for="Code"/>
                        </div>
                        <div class="col-span-full md:col-span-4">
                            <label asp-for="NewPassword"
                                   class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                            <input asp-for="NewPassword"
                                   placeholder="رمز عبور جدید را وارد کنید ..."
                                   class="block w-full text-sm rounded-lg border border-borderColour dark:border-borderColour-dark py-2.5 px-5 placeholder:text-paragraph-light dark:placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all"
                                   autocomplete="new-password">
                            <validation-span asp-validation-for="NewPassword"/>
                        </div>
                        <div class="col-span-full md:col-span-4">
                            <label asp-for="ConfirmNewPassword"
                                   class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                            <input asp-for="ConfirmNewPassword"
                                   placeholder="رمز عبور جدید را مجدد وارد کنید ..."
                                   class="block w-full text-sm rounded-lg border border-borderColour dark:border-borderColour-dark py-2.5 px-5 placeholder:text-paragraph-light dark:placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all"
                                   autocomplete="confirm-new-password">
                            <validation-span asp-validation-for="ConfirmNewPassword"/>
                        </div>
                        <input type="hidden" asp-for="Mobile"/>
                        <div class="col-span-full">
                            <button class="btn-success px-5 py-2 tracking-tight">
                                ثبت و تغییر رمز عبور
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>