<section dir="rtl" class="mb-24 lg:mb-40 relative">
    <div class="seperator mb-5">
        <img src="/Site/assets/images/footer-seperator.svg" alt="footer-seperator" class="dark:hidden w-full object-cover"/>
        <img src="/Site/assets/images/footer-seperator-dark.svg" alt="footer-seperator"
             class="hidden dark:block w-full object-cover"/>
    </div>
    
    <div class="container relative aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true">
    
        <div class="relative z-10 max-w-[600px] mx-auto">
            <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex -z-10 max-lg:max-w-full ">
                <div class="w-[442px] h-64 rounded-full bg-primary-200/20 blur-[145px]"></div>
                <div class="w-[442px] h-64 rounded-full bg-primary-200/20 blur-[145px] max-md:hidden"></div>
            </div>
    
            <div dir="rtl" class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav">
                <div class="bg-white dark:bg-dark-200 border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-12">
                    <div class="mb-12 text-center max-w-[475px] mx-auto">
                        <div class="mb-12 text-center max-w-[475px] mx-auto">
                            <div class="flex justify-center mb-6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="currentColor"
                                     class="text-gray-400 dark:text-gray-600">
                                    <path d="M4.5 19q-.633 0-1.066-.434Q3 18.133 3 17.5V6.616q0-.633.491-1.125Q3.983 5 4.615 5h4.981l2 2h7.789q.517 0 .903.28t.539.72h-9.633l-2-2H4.615q-.269 0-.442.173T4 6.616v10.769q0 .211.106.346t.279.23l2.265-7.576h16.216l-2.268 7.556q-.142.476-.545.768q-.403.291-.9.291zm.927-1h14.112l1.972-6.616H7.4zm0 0L7.4 11.385zM4 8V6z"/>
                                </svg>
                            </div>

                            <h3 class="text-lg font-semibold text-gray-700 dark:text-white">محتوایی جهت نمایش وجود ندارد</h3>
                            <p class="text-paragraph text-sm dark:text-paragraph-light mt-2">
                                در حال حاضر هیچ محتوایی برای این بخش ثبت نشده است.
                            </p>
                        </div>
                    </div>
                    <div class="mt-10 text-center flex items-center justify-center">
                        <a asp-area=""
                           asp-controller="Home"
                           asp-action="Index"
                           class="btn">
                            بازگشت به صفحه اصلی
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="seperator mb-5 mt-5">
            <img src="/Site/assets/images/footer-seperator.svg" alt="footer-seperator" class="dark:hidden w-full object-cover"/>
            <img src="/Site/assets/images/footer-seperator-dark.svg" alt="footer-seperator"
                 class="hidden dark:block w-full object-cover"/>
        </div>
    </div>
</section>
<div class="pb-20">
    <partial name="_BacklightPartial"/>
</div>



