<div dir="rtl" aria-hidden="false"
     class="modal fixed z-[99999999990] hidden inset-0 top-0 items-start justify-center bg-metal-900 bg-modal" id="modal-center-lg" role="dialog">
  <div class="relative w-full p-4 h-auto animate-keep-bounce max-w-6xl modal-container">
    <div class="relative bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
      <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 max-lg:p-5">
        <div
          class="flex items-center justify-between bg border-b border-dashed border-b-borderColour dark:border-borderColour-dark pb-5">
          <h3 class="text-paragraph dark:text-white modal-title" id="modal-center-lg-title"></h3>
          <button class="text-paragraph dark:text-white close-modal-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-miterlimit="10"
                      stroke-width="16"></circle>
              <line x1="160" y1="96" x2="96" y2="160" fill="none" stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
              <line x1="160" y1="160" x2="96" y2="96" fill="none" stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
            </svg>
          </button>
        </div>
        <div class="py-5 modal-body" id="modal-center-lg-body">
        </div>
      </div>
    </div>
  </div>
</div>


<div dir="rtl" aria-hidden="false"
     class="modal fixed z-[99999999990] hidden inset-0 top-0 items-start justify-center bg-metal-900 bg-modal" id="modal-center-md" role="dialog">
  <div class="relative w-full p-4 h-auto animate-keep-bounce max-w-3xl modal-container">
    <div class="relative bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
      <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 max-lg:p-5">
        <div
          class="flex items-center justify-between bg border-b border-dashed border-b-borderColour dark:border-borderColour-dark pb-5">
          <h3 class="text-paragraph dark:text-white modal-title" id="modal-center-md-title"></h3>
          <button class="text-paragraph dark:text-white close-modal-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-miterlimit="10"
                      stroke-width="16"></circle>
              <line x1="160" y1="96" x2="96" y2="160" fill="none" stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
              <line x1="160" y1="160" x2="96" y2="96" fill="none" stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
            </svg>
          </button>
        </div>
        <div class="py-5 modal-body" id="modal-center-md-body">
        </div>
      </div>
    </div>
  </div>
</div>


<div dir="rtl" aria-hidden="false"
     class="modal fixed z-[99999999990] hidden inset-0 top-0 items-start justify-center bg-metal-900 bg-modal" id="modal-center-sm" role="dialog">
  <div class="relative w-full p-4 h-auto animate-keep-bounce max-w-lg modal-container">
    <div class="relative bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
      <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 max-lg:p-5">
        <div
          class="flex items-center justify-between bg border-b border-dashed border-b-borderColour dark:border-borderColour-dark pb-5">
          <h3 class="text-paragraph dark:text-white modal-title" id="modal-center-sm-title"></h3>
          <button class="text-paragraph dark:text-white close-modal-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-miterlimit="10"
                      stroke-width="16"></circle>
              <line x1="160" y1="96" x2="96" y2="160" fill="none" stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
              <line x1="160" y1="160" x2="96" y2="96" fill="none" stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
            </svg>
          </button>
        </div>
        <div class="py-5 modal-body" id="modal-center-sm-body">
        </div>
      </div>
    </div>
  </div>
</div>