<!--Start Preloader -->
<div class="onloadpage" id="page_loader">
    <div class="pre-content">
        <div class="logo-pre">
            <img alt="لوگو" class="img-fluid" src="/Common/images/logo.png"/>
        </div>
        <div class="pre-text- text-radius text-light text-animation bg-b">
            لطفا منتظر بمانید ...
        </div>
    </div>
</div>
<!--End Preloader -->
