@{
    string? message = Model as string;
}

<div class="alert alert-primary" role="alert">
    @if (string.IsNullOrEmpty(message))
    {
        <p class="fw-medium m-0">موردی یافت نشد ...</p>
    }
    else
    {
        <p class="fw-medium m-0">@message</p>
    }
</div>