@model BarnamenevisanCompany.Domain.ViewModels.Client.ContactUs.ClientCreateContactUsViewModel
@{
  var headerText = ViewData["ContactUsHeaderText"] as string;
}

<section class="mb-20 lg:mb-42 relative">
  <div class="container relative aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000"
       data-aos-once="true">
    <div class="mb-12 text-center max-w-[475px] mx-auto">

      <h2>@Html.Raw(headerText)</h2>
    </div>
    <div class="relative z-10 max-w-[850px] mx-auto">
      <div
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex -z-10 max-lg:max-w-full max-md:hidden">
        <div class="w-[442px] h-[442px] rounded-full bg-primary-200/20 blur-[145px]"></div>
        <div class="w-[442px] h-[442px] rounded-full bg-primary-200/25 -ml-[170px] blur-[145px]"></div>
        <div class="w-[442px] h-[442px] rounded-full bg-primary-200/20 -ml-[170px] blur-[145px]"></div>
      </div>

      <div dir="rtl" class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav">
        <div
          class="bg-white dark:bg-dark-200 border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-12 max-md:p-5">
          <form asp-action="Create" asp-controller="ContactUs" asp-area="" method="post" id="captcha-id">
            <partial name="_CaptchaInput"/>
            <div class="grid grid-cols-12 max-md:gap-y-10 md:gap-x-12 md:gap-8">
              <div class="max-md:col-span-full md:col-span-6">
                <label asp-for="Title" class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                <input asp-for="Title" placeholder="عنوان را وارد کنید ..."
                       class="block w-full text-sm rounded-[48px] border border-borderColour dark:border-borderColour-dark py-2.5 px-5 text-paragraph-light placeholder:text-paragraph-light dark:placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all">
                <validation-span asp-validation-for="Title"/>
              </div>
              <div class="max-md:col-span-full md:col-span-6">
                <label asp-for="FullName" class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                <input asp-for="FullName" placeholder="نام و نام خانوادگی خود را وارد کنید ..."
                       class="block w-full text-sm rounded-[48px] border border-borderColour dark:border-borderColour-dark py-2.5 px-5 text-paragraph-light placeholder:text-paragraph-light dark:placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all">
                <validation-span asp-validation-for="FullName"/>
              </div>
              <div class="max-md:col-span-full md:col-span-6">
                <label asp-for="Email" class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                <input asp-for="Email" placeholder="ایمیل خود را وارد کنید ..."
                       class="block w-full text-sm rounded-[48px] border border-borderColour dark:border-borderColour-dark py-2.5 px-5 text-paragraph-light placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all">
                <validation-span asp-validation-for="Email"/>
              </div>
              <div class="max-md:col-span-full md:col-span-6">
                <label asp-for="PhoneNumber"
                       class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                <input asp-for="PhoneNumber" placeholder="شماره تماس خود را وارد کنید ..."
                       class="block w-full text-sm rounded-[48px] border border-borderColour dark:border-borderColour-dark py-2.5 px-5 text-paragraph-light placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all">
                <validation-span asp-validation-for="PhoneNumber"/>
              </div>
              <div class="col-span-full">
                <label asp-for="Message" class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                <textarea asp-for="Message" rows="10" placeholder="متن پیام خود را وارد کنید ..."
                          class="block w-full text-sm rounded border border-borderColour dark:border-borderColour-dark py-2.5 px-5 text-paragraph-light placeholder:text-paragraph-light outline-none resize-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all"></textarea>
                <validation-span asp-validation-for="Message"/>
              </div>
              <div class="mx-auto col-span-full text-center">
                <button class="btn">
                  ثبت
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>