@using BarnamenevisanCompany.Application.Statics
@model BarnamenevisanCompany.Domain.ViewModels.Client.UserSocialNetworkMapper.ClientUpdateUserSocialNetworkViewModel

<div class="col-span-full">

    <form asp-area="UserPanel"
          asp-controller="UserSocialNetwork"
          asp-action="Update"
          asp-ajax="true"
          asp-ajax-method="Post"
          asp-ajax-close-modal-onSuccess="Current"
          asp-ajax-success="onAjaxSuccess(data, status, xhr);"
          asp-ajax-substitution="filter-search">
        <input asp-for="Id" type="hidden"/>
        <input asp-for="ImageName" type="hidden"/>
        <div class="grid grid-cols-12">
            <div class="col-span-full grid grid-cols-12 gap-5">
                <div class="col-span-full md:col-span-6">
                    <label asp-for="Title"
                           class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                    <input readonly="" asp-for="Title"
                           class="block w-full text-sm rounded-lg border border-borderColour dark:border-borderColour-dark py-2.5 px-5 placeholder:text-paragraph-light dark:placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all">
                    <validation-span asp-validation-for="Title"/>
                </div>

                <div class="col-span-full md:col-span-6">
                    <label asp-for="SocialUrl"
                           class="block text-sm font-medium text-paragraph dark:text-white mb-2"></label>
                    <input asp-for="SocialUrl"
                           placeholder="آدرس شبکه اجتماعی خود را وارد کنید ..."
                           class="block w-full text-sm rounded-lg border border-borderColour dark:border-borderColour-dark py-2.5 px-5 placeholder:text-paragraph-light dark:placeholder:text-paragraph-light outline-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all">
                    <validation-span asp-validation-for="SocialUrl"/>
                </div>
                <div class="col-span-full md:col-span-12 items-center">
                    <img alt="@Model.Title" class="w-20 h-20" src="@(FilePaths.UserSocialNetwork + Model.ImageName)"/>
                </div>


                @* <div class="col-span-full"> *@
                @*     <label class="block text-sm font-medium text-paragraph dark:text-white mb-2" for="Message">متن *@
                @*         پیام</label> *@
                @*     <textarea rows="10" *@
                @*               class="block w-full text-sm rounded border border-borderColour dark:border-borderColour-dark py-2.5 px-5 text-paragraph-light placeholder:text-paragraph-light outline-none resize-none bg-white dark:bg-dark-200 focus:border-primary dark:focus:border-primary duration-300 transition-all" *@
                @*               data-val="true" data-val-maxlength="تعداد کاراکتر مجاز 2000 عدد می باشد" *@
                @*               data-val-maxlength-max="2000" data-val-required="وارد کردن متن پیام الزامی می باشد" *@
                @*               id="Message" maxlength="2000" name="Message"></textarea> *@
                @* </div> *@

                <div class="col-span-full">
                    <button type="submit" class="btn-warning px-5 py-2 tracking-tight">
                        ویرایش شبکه اجتماعی
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
