@{
    ViewData["Title"] = "خطا";
}

<section class="pt-[200px] mb-150">
    <div class="container relative aos-init aos-animate" data-aos="fade-up" data-aos-offset="200"
         data-aos-duration="1000" data-aos-once="true">
        <div class="max-w-[700px] mx-auto text-center">
            <h1 class="text-[140px] font-bold bg-clip-text text-transparent dark:text-transparent bg-gradient-to-b from-primary from-0to-primary/0 to-90% leading-[1]">
                500
            </h1>
            <p class="section-tagline -mt-16">خطا</p>
            <h2 class="text-[64px] font-bold mb-9 leading-[1.22] ">
                خطایی رخ داد
            </h2>
            <p class="text-xl mb-8">
                لطفا دقایقی بعد مجدد امتحان کنید و در صورت وجود مشکل به پشتیبانی اطلاع دهید
            </p>
            <a asp-area=""
               asp-controller="Home"
               asp-action="Index"
               class="btn">
                بازگشت
            </a>
        </div>
    </div>
</section>